# ‚óè	Model Building and saving the model using Pickle

1.	Import required libraries and read the dataset.

In [36]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
from sklearn.model_selection import train_test_split

2.	Check the first few samples, shape, info of the data and try to familiarize yourself with different features.

In [22]:
loan_df = pd.read_csv(r'C:\Users\User\Downloads\loan_approval_data.csv')
loan_df.head()

,loan_id,gender,married,dependents,education,self_employed,applicantincome,coapplicantincome,loanamount,loan_amount_term,credit_history,property_area,loan_status
0,lp001002,male,no,0.0,graduate,no,5849,0.0,NaN,360.0,1.0,urban,y
1,lp001003,male,yes,1.0,graduate,no,4583,1508.0,128.0,360.0,1.0,rural,n
2,lp001005,male,yes,0.0,graduate,yes,3000,0.0,66.0,360.0,1.0,urban,y
3,lp001006,male,yes,0.0,not graduate,no,2583,2358.0,120.0,360.0,1.0,urban,y
4,lp001008,male,no,0.0,graduate,no,6000,0.0,141.0,360.0,1.0,urban,y

In [19]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            614 non-null    object
 1   gender             601 non-null    object
 2   married            611 non-null    object
 3   dependents         599 non-null    float64
 4   education          614 non-null    object
 5   self_employed      582 non-null    object
 6   applicantincome    614 non-null    int64
 7   coapplicantincome  614 non-null    float64
 8   loanamount         592 non-null    float64
 9   loan_amount_term   600 non-null    float64
 10  credit_history     564 non-null    float64
 11  property_area      614 non-null    object
 12  loan_status        614 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 62.5+ KB

In [20]:
loan_df.shape

(614, 13)

3.	Check for missing values in the dataset, if present? handle them with appropriate methods and drop redundant features.

In [23]:
loan_df.drop('loan_id', axis=1, inplace = True)

In [33]:
loan_df.isna().sum()

gender               0
married              0
dependents           0
education            0
self_employed        0
applicantincome      0
coapplicantincome    0
loanamount           0
loan_amount_term     0
credit_history       0
property_area        0
loan_status          0
dtype: int64

In [31]:
loan_df.dropna(inplace = True)

4.	Visualize the distribution of the target column 'loan_status' with respect to various categorical features and write your observations.

In [37]:
loan_df['loan_status'].value_counts()

y    332
n    148
Name: loan_status, dtype: int64